.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  vertical-align: middle;
}

.date {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  letter-spacing: 10px;
}
.clock {
  max-height: 300px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.digit {
  margin: 3rem 6rem;
  font-size: 4.9rem;
  font-weight: 600;
}
.format {
  font-weight: 800;
  font-size: 2.5rem;
}
